body {
    background-color: #f9f9fb;
    color: #545454;
}
.quiz {
    font-family: "Open Sans", arial, sans-serif;
}

.quiz-header {
    background-color: #494d55;
    border-top: 5px solid #40babd;
    padding: 60px 0;
}

.quiz-header .logo {
    color: #ffffff;
    font-size: 38px;
    font-weight: 800;
}

.quiz .text-highlight {
    color: #40babd;
    font-weight: 500;
}

.quiz-header .tagline {
    color: rgba(255, 255, 255, 0.85);
    font-size: 20px;
}

.quiz ul.answers {
    display: table;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.quiz .results ul.answers {
    display: block;
}

.quiz label {
    display: block;
    font-size: 20px;
}

.quiz .answers li:hover {
    color: #40babd;
    cursor: pointer;
}

.quiz input[type="radio"] {
    margin-right: 10px;
    line-height:1.5;
}

.quiz .main-content {
    margin: 30px auto 0;
}

.quiz .wrong-answer {
    text-decoration: line-through;
    text-decoration-color: #EA5395;
}

.quiz .review-answer {
    text-indent: 20px;
}

.quiz .question {
    font-size: 20px;
}

.quiz .results .question {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 4px;
}

.quiz .results {
    margin-bottom: 30px;
}

.quiz .score {
    font-weight: bold;
    font-size: 20px;
}

.quiz .score span {
    margin-left: 5px;
}

.quiz .fun-fact {
    font-size: 20px;
    margin: 20px 0 20px 0;
}

.quiz .fun-fact span {
    font-style: italic;
    display: block;
}

.quiz .correct-answer::after {
    content: "\2713";
    color: #40babd;
    font-weight: 800;
    margin-left: 10px;
}

.quiz .emphasis {
    font-style: italic;
}