.quiz {
    width:  960px;
    margin: 20px auto 0;
}

.quiz h2 {
    font-style: italic;
}

.quiz label {
    display: block;
    float: left;
    clear: left;
    font-size: 20px;
}

.quiz input[type="radio"] {
    margin-right: 10px;
    line-height:1.5;
}

.quiz .main-content {
    margin-top: 30px;
}

.quiz .wrong-answer {
    text-decoration: line-through;
    color: red;
}

.quiz .correct-answer {
    color: green
}

.quiz .review-answer {
    text-indent: 20px;
}

.quiz .question {
    font-size: 20px;
}

.quiz .results {
    overflow: auto;
    margin-bottom: 20px;
}

.quiz .score {
    font-weight: bold;
}

.quiz .score span {
    margin-left: 5px;
}

.quiz .fun-fact {
    clear: left;
    font-size: 20px;
    margin: 20px 0 20px 24px;
}

.quiz .fun-fact span {
    font-weight: bold;
    font-style: italic;
    display: block;
}